body {
  margin: 0;
  font-size: 1.5em;
  background-color: black;
  background: url("wp2227193-dungeons-dragons-wallpapers.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: 'Girassol', serif;
}

.App {
  text-align: center;
  text-decoration: none;
}

input, button {
  font-family: 'IM Fell French Canon SC', serif;
  font-size: 15px;
  background-color: rgb(178, 178, 178);
  margin: 5px;
}

/* =============== header ================== */

header > * :visited {
  text-decoration: none;
  color: rgb(187, 28, 28);
}

.header-main {
  height: 10vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-between;
  max-width: 98%;
  background: rgb(0, 0, 0, 0.5);
  color: rgb(187, 28, 28);
}

.viewCamp {
  height: 10vh;
  display: flex;
  align-items: flex-end;
  border: 20px;
  width: 200px;
}

h1 {
  font-size: 40px;
  text-decoration: underline;
  text-align: center;
  width: 400px;
}

.auth {
  height: 10vh;
  display: flex;
  align-items: flex-end;
  border: 20px;
  width: 200px;
}

/* .auth>p {
  margin-right: 10px;
} */

/* nav {
  display: flex;
  justify-content: center;
  margin: 20px auto;
} */

nav > a {
  margin: 10px;
}

/* ================= main ==================== */

h3 {
  padding: 30px;
  font-size: 32px;
  text-decoration: underline;
  color: rgb(187, 28, 28);
}

h4 {
  color: rgb(187, 28, 28);
}

main {
  max-width: 95.8%;
  margin: 0 auto;
  border: 5px;
  padding: 10px;
  background: rgb(0, 0, 0, 0.5);
  text-align: center;
  font-size: 18px;
  color: rgb(178, 178, 178);
}

.campaign-list > a {
  grid-column: 3/4;
  font-size: 24px;
  margin: 5px;
}

.campaign-list {
  display: column;
  margin: 0 25%;
}

.campaign-details {
  font-size: 34px;
  margin: 30px;
}

.auth-form {
  display: column;
  margin: 0 25%;
  grid-gap: 10px;
}

.auth-form > label {
  justify-self: end;
}

.auth-form > p {
  margin: 0;
  padding-top: 7px;
  justify-self: end;
}

.auth-form > button {
  justify-self: end;
  align-self: start;
  padding: 15px 40px;
}

Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  font-family: 'IM Fell French Canon SC', serif;
  font-size: 14px;
  color: white;
  text-align: center;
  background: black;
  width: 100vw;
}

/* ============= character sheet ================ */

.char-sheet {
  
}

.char-name {

}

.char-details {

}

.stats {

}

.prof-bonus {

}

.hp {

}

.ac {

}

.hit-dice {

}

.attk-cast {

}

.inventory {

}

.feats {

}

/* =============== media query ================== */

@media only screen and (max-width: 650px) {
  section, img {
    max-width: 500px;
  }
}