body {
  margin: 0;
  font-size: 1.5em;
  background-color: black;
  background: url("wp2227193-dungeons-dragons-wallpapers.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: 'Girassol', serif;
}

.App {
  text-align: center;
}

/* =============== header ================== */

.header-main {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 40px;
  color: rgb(187, 28, 28);
  text-decoration: underline;
}

.auth {
  height: 10vh;
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 0;
}

.auth>p {
  margin-right: 10px;
}

nav {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

nav > a {
  margin: 10px;
}

/* =============== main ================== */

h3 {
  padding: 30px;
  font-size: 1.5em;
}

main {
  max-width: 650px;
  margin: 0 auto;
  border: 5px;
  padding: 10px;
  background: rgb(0, 0, 0, 0.5);
  font-size: 18px;
  color: rgb(178, 178, 178);
}

.campaign-list > a {
  grid-column: 3/4;
}

.campaign-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 0 25%;
}

.campaign-list > * {
  margin: 10px;
}

/* =============== main ================== */

.auth-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 25%;
  grid-gap: 10px;
}

.auth-form > label {
  justify-self: end;
}

.auth-form > p {
  margin: 0;
  padding-top: 7px;
  justify-self: end;
}

.auth-form > button {
  justify-self: end;
  align-self: start;
  padding: 15px 40px;
}

@media only screen and (max-width: 650px) {
  section, img {
    max-width: 500px;
  }
}